/* Mit CSS 
(C) Copyright 2017: Niels Østergaard
*/

body {
    font-family: sans-serif;
    background-color: #909090;
    margin: 1em;
}

h1 {
    color: #000000;
    
}

#pagewrap {
    max-width: 800px;
    margin: auto;
    border: 3px solid #000000;
}

#logoet {
    max-width: 80%;
}

.brodtekst {
    margin: 0 3em;
}

footer {
    background-color: #000000;
    color: #999999;
    text-align: center;
}