/* Mit CSS 
(C) Copyright 2017: Niels Østergaard
Eksempler på CSS Grid */

body {
    font-family: sans-serif;
    background-color: #999999;
    margin: 1em;
}

#mitgrid div {
    font-size: 5em;
    color: #000000;
    text-align: center;
    border-color: #000000;
    border-width: 2px;
    border-style: dashed;
}

#mitgrid {
    display: grid; 
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
}

#mitgrid div:nth-child(1){
    background-color: #FFF;
    grid-area: a;
}

#felt2 {
    grid-area: b;
}

#mitgrid div:nth-child(3){
    background-color: #FC0;
    grid-area: c;
}

#felt4 {
    background-color: #F06;
    grid-area: d;
}

#felt5 {
    background-color: #63F;
    grid-area: e;
}

#felt6 {
    grid-area: f;
}

#felt7 {
    grid-area: g;
}

#felt8{
    background-color: #CF0; 
    grid-area: h;
}





